

 
  .icon{

    color: white;
    box-shadow: 5px 10px 18px #ccc;
  }
  :nth-child(1) .chartIcon {
    background-color: purple;
   
  }
  :nth-child(2) .chartIcon {
    background-color: darkblue;
  }
  :nth-child(3) .chartIcon {
    background-color: green;
  }
  :nth-child(4) .chartIcon {
    background-color: red;
  }


