.widget-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  .widget {
    position: relative;
    width: 325px;
    height: 175px;
    background-color: #fff;
    color: #0b0b0b;
    border-radius: 15px 15px 0px 0px;
    margin: 10px;
    box-shadow: -1px 6px 20px 0px #939393;
    display: flex;

    padding: 24px;

    .icon {
      font-size: 50px;
    }

    .lable {
      font-weight: bold;
    }
    .number {
    }
  }
  :nth-child(1) .icon {
    background-color: purple;
    border-radius: 20px;
  }
  :nth-child(2) .icon {
    background-color: yellow;
  }
  :nth-child(3) .icon {
    background-color: green;
  }
  :nth-child(4) .icon {
    background-color: red;
  }
}
