<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3 gy-2 p-2">
      <div class="div1 p-4 component1 row">
        <h5 class="py-3 ">Today's Patients</h5>
        <div class="c1">
          <i class="fa-solid fa-user-injured fs-3 col-6"></i>

          <span class="col-md-6 fs-3 col-6 ms-100" style="text-align: end;">{{ 231 }}</span>
        </div>
        <p class="pt-3">18% Higher Than Last Month</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 gy-2 p-2">
      <div class="div2 p-4 component1 row">
        <h5 class="py-3">Appointments</h5>
        <div class="c1">
          <i class="fa-regular fa-calendar-check fs-3 col-6"></i>
          <span class="col-md-6 fs-3 col-6 ms-100" style="text-align: right">{{ 122 }}</span>
        </div>
        <p class="pt-3">21% Higher Than Last Month</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 gy-2 p-2">
      <div class="div3 p-4 component1 row">
        <h5 class="py-3">Today's Operations</h5>
        <div class="c1">
          <i class="fa-solid fa-scissors fs-3 col-6"></i>
          <span class="col-md-6 fs-3 col-6 ms-100" style="text-align: end">{{ 28 }}</span>
        </div>
        <p class="pt-3">37% Higher Than Last Month</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 gy-2 p-2">
      <div class="div4 component1 row p-4">
        <h5 class="py-3">Online Appointments</h5>
        <div class="c1">
          <i class="fa-brands fa-internet-explorer fs-3 col-6"></i>
          <span class="col-md-6 fs-3 col-6 ms-100" style="text-align: end">{{ 42 }}</span>
        </div>
        <p class="pt-3">10% Higher Than Last Month</p>
      </div>
    </div>
  </div>
</div>
