<div class="  d-flex justify-content-between" style="height: 3rem; background-color: #96abab;">
  <input type="text" class="form-control  m-2 w-25 " [(ngModel)]="searchText" (keyup)="search()" id=" title"
    placeholder="Search" required />
  <div class=" p-1 me-2">
    <button [ngClass]="{ 'text-white btn': true , }" (click)="delete()" [hidden]=" setOfCheckedId.size ==0">
      <span nz-icon nzType="delete" nzTheme="fill" class="bg-danger icon rounded-circle p-2"></span></button>
    <button [ngClass]="{ 'text-white  btn  ': true , }" (click)="addAppoi()"> <span nz-icon nzType="plus"
        nzTheme="outline" class="bg-primary text-white icon rounded-circle p-2 "></span></button>
  </div>
</div>

<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="
filteredListOfData.length > 0 ? filteredListOfData : listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowFilter>
  <thead>
    <tr>
      <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>Image</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Date</th>
      <th>Time</th>
      <th>Mobile</th>
      <th>Doctor</th>
      <th>Injury/Condition </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (data of rowSelectionTable.data; track $index) {

    <tr #rowAppoin>
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>
        {{data.id}}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.date | date:"shortDate"}}</td>
      <td>{{ data.time }}</td>
      <td>{{ data.mobile }}</td>
      <td>{{ data.doctor }}</td>
      <td>{{ data.injury }}</td>
      <td class=""><span class="text-danger action" nz-icon nzType="delete" nzTheme="outline"
          (click)="showDeleteConfirm(data.id)"></span>
        <span (click)="showEdit(rowAppoin)" class="text-primary action" nz-icon nzType="edit" nzTheme="outline"></span>
      </td>

    </tr>
    }
  </tbody>
</nz-table>

<ng-template #form>
  <div class="form">
    <label class="w-25" for="name"> Name</label>
    <input [(ngModel)]="name" class="form-control d-inline-block  w-75 mb-1" type="text" id="name"
      placeholder=" name" />
    <label class="w-25" for="email"> Email</label>
    <input [(ngModel)]="email" class="form-control d-inline-block  w-75  mb-1" type="email" id="email"
      placeholder="email" />
    <fieldset class="d-flex align-items-center  justify-content-start">
      <legend class="w-25 me-2">Gender</legend>
      <div class="form-check mb-1 ">
        <input class="form-check-input" [(ngModel)]="gender" type="radio" name="gender" id="male" value="Male" />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check mb-1">
        <input [(ngModel)]="gender" class="form-check-input" type="radio" name="gender" id="female" value="Female" />
        <label class="form-check-label" for="female">Female</label>
      </div>
    </fieldset>
    <label class="w-25" for="date"> Date</label>
    <input [(ngModel)]="date" class="form-control  d-inline-block w-75 mb-1" id="date" type="date" placeholder="date" />
    <label class="w-25" for="time">
      Time</label>
    <input [(ngModel)]="time" class="form-control d-inline-block   w-75 mb-1" id="time" type="text"
      placeholder="time" />
    <label class="w-25" for="mobile">
      Mobile</label>
    <input [(ngModel)]="mobile" class="form-control  d-inline-block w-75 mb-1" id="mobile" type="number"
      placeholder="mobile" />
    <label class="w-25" for="doctor">
      Doctor</label>
    <input [(ngModel)]="doctor" class="form-control d-inline-block  w-75 mb-1" id="doctor" type="text"
      placeholder="Doctor" />
    <label class="w-25" for="inurjy">
      Inurjy</label>
    <input [(ngModel)]="inurjy" class="form-control d-inline-block  w-75 mb-1" id="inurjy" type="text"
      placeholder="inurjy" />

  </div>
</ng-template>