.action {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: rgba(180, 180, 180, 0.657);
  }
}
.icon {
  font-weight: bold;
  &:hover {
    scale: 1.2;
  }
}
