.action {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: rgba(180, 180, 180, 0.657);
  }
}
.icon {
  font-weight: bold;
  &:hover {
    scale: 1.2;
  }
}
.ng-valid:not(form) {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.card {
  padding: 30px 40px;

  border: none !important;
}
.blue-text {
  color: #00bcd4;
}
.form-control-label {
  margin-bottom: 0;
}
input {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
.btn-block:hover {
  color: #fff !important;
}
