
.report {
  
  color:#001529;
  font-size: 32px;
}
.report:hover{
  
  color:red;
}

.gray-background {
  background-color: #f0f0f0; /* or any other shade of gray you prefer */
}
.detail{
  padding: 5px;
  margin: 0px;
  border-radius: 10px;

}
.detail:hover{
background-color: white;
}

